@use '../../styles/colors' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  font-size: 14px;
  color: $Light-900;

  .disabled & {
    color: $Dark-100;
  }
}

.inputContainer {
  position: relative;

  display: flex;
  align-items: center;

  width: 300px;
  height: 40px;

  background-color: $Dark-500;
  border: 2px solid $Dark-100;
  border-radius: 2px; // ✅ добавлено

  transition: border-color 0.2s;

  &.hover {
    border-color: $Light-900;
  }

  &.focused {
    border-color: $Accent-700;
  }

  &.error {
    border-color: $Danger-500;
  }

  &.disabled {
    pointer-events: none;
    background-color: $Dark-300;
    border-color: $Dark-100;
  }
}

.input {
  flex: 1;

  height: 100%;
  padding: 0 36px; // по умолчанию — как для search

  font-size: 14px;
  color: $Light-900;

  background-color: transparent;
  border: none;
  outline: none;

  &::placeholder {
    color: $Dark-100;
  }

  &:disabled {
    color: $Dark-100;

    &::placeholder {
      color: $Dark-100;
    }
  }
}

// Изменим padding-left, если иконки слева нет
.inputContainer.noIconLeft .input {
  padding-left: 10px;
}

.iconLeft {
  pointer-events: none;

  position: absolute;
  left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.iconRight {
  cursor: pointer;

  position: absolute;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  background: none;
  border: none;

  svg {
    pointer-events: none;
  }

  &:disabled {
    cursor: default;
  }
}

.errorText {
  font-size: 12px;
  color: $Danger-500;
}

.fullWidth {
  width: 100%;
}
