@use '../../styles/colors' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  &:disabled {
    opacity: 0.5;
  }
}

.label {
  font-size: 14px;
  color: $Light-900;

  .disabled & {
    color: $Dark-100;
  }
}

.inputContainer {
  position: relative;

  display: flex;
  align-items: center; // 👈 Центрируем по вертикали
  justify-content: space-between;

  width: 300px;
  height: 40px;

  font-size: 14px;
  color: $Light-900;

  background-color: $Dark-500;
  border: 1px solid $Dark-100;
  border-radius: 2px; // 👈 Добавлено

  &:hover {
    border-color: $Light-900;
  }

  &:focus {
    border-color: $Accent-500;
    outline: 1px solid $Accent-500;
  }

  &.error {
    border-color: $Danger-500;
  }

  &:disabled {
    pointer-events: none;
    background-color: $Dark-300;
    border-color: $Dark-100;
  }
}

.icon {
  display: flex;
  align-items: center; // 👈 Центрируем по вертикали
  justify-content: center;

  height: 100%; // 👈 Растягиваем на весь контейнер, чтобы центрировать
  padding: 0 10px;

  &[data-atribute='11'] {
  }
}

.input {
  flex: 1;

  height: 30px;
  margin-left: 10px;

  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;

  &::placeholder {
    color: $Dark-100;
  }

  &:disabled {
    color: $Dark-100;

    &::placeholder {
      color: $Dark-100;
    }
  }
}

.errorText {
  font-size: 12px;
  color: $Danger-500;
}

.iconButton {
  cursor: pointer;

  display: flex;
  align-items: center; // 👈 Центрирование
  justify-content: center;

  padding: 0 10px;

  background: none;
  border: none;
}

.fullWidth {
  width: 100%;
}
