@use '../../styles/fonts' as typo;
@use '../../styles/colors' as *;

@mixin common {
  @include typo.h3;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  min-height: 36px;
  padding: 6px 24px;

  text-align: center;
  text-decoration: none;

  border: none;

  &:disabled {
    cursor: initial;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include common;

  color: $light-100;
  background-color: $accent-500;

  &:hover {
    color: $light-100;
    background-color: $accent-100;
  }

  &:focus {
    color: $light-100;
    background-color: $accent-500;
    outline: 2px solid $accent-700;
  }

  &:active {
    color: $light-500;
    background-color: $accent-700;
  }

  &:disabled {
    color: $light-900;
    background-color: $accent-900;
  }
}

.secondary {
  @include common;

  color: $light-100;
  background-color: $dark-300;

  &:hover {
    color: $light-100;
    background-color: $dark-100;
  }

  &:active {
    color: $light-100;
    background-color: $dark-500;
  }

  &:focus {
    color: $light-100;
    background-color: $dark-300;
    border: 1px solid $accent-300;
  }

  &:disabled {
    color: $light-900;
    background-color: $dark-500;
  }
}

.outline {
  @include common;

  color: $accent-500;
  background-color: transparent;
  border: 1px solid $accent-500;

  &:hover {
    color: $accent-100;
    border: 1px solid $accent-100;
  }

  &:active {
    color: $accent-700;
    border: 1px solid $accent-700;
  }

  &:focus {
    color: $accent-700;
    border: 2px solid $accent-700;
  }

  &:disabled {
    color: $accent-900;
    border: 1px solid $accent-900;
  }
}

.text_button {
  @include common;

  color: $accent-500;
  background-color: transparent;

  &:hover {
    color: $accent-100;
  }

  &:active {
    color: $accent-700;
  }

  &:focus {
    color: $accent-500;
    border: 2px solid $accent-700;
  }

  &:disabled {
    color: $accent-900;
  }
}
