@use '../../styles/fonts' as typo;
@use '../../styles/colors' as *;

@mixin common {
  @include typo.h3;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  min-height: 36px;
  padding: 6px 24px;

  text-align: center;
  text-decoration: none;

  border: none;

  &:disabled {
    cursor: initial;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}
9 .primary {
  @include common;

  color: $Light-100;
  background-color: $Accent-500;

  &:hover {
    color: $Light-100;
    background-color: $Accent-100;
  }

  &:focus {
    color: $Light-100;
    background-color: $Accent-500;
    outline: 2px solid $Accent-700;
  }

  &:active {
    color: $Light-500;
    background-color: $Accent-700;
  }

  &:disabled {
    color: $Light-900;
    background-color: $Accent-900;
  }
}

.secondary {
  @include common;

  color: $Light-100;
  background-color: $Dark-300;

  &:hover {
    color: $Light-100;
    background-color: $Dark-100;
  }

  &:active {
    color: $Light-100;
    background-color: $Dark-500;
  }

  &:focus {
    color: $Light-100;
    background-color: $Dark-300;
    border: 1px solid $Accent-300;
  }

  &:disabled {
    color: $Light-900;
    background-color: $Dark-500;
  }
}

.outline {
  @include common;
  color: $Accent-500;
  background-color: transparent;
  border: 1px solid $Accent-500;

  &:hover {
    color: $Accent-100;
    border: 1px solid $Accent-100;
  }

  &:active {
    color: $Accent-700;
    border: 1px solid $Accent-700;
  }

  &:focus {
    color: $Accent-700;
    border: 2px solid $Accent-700;
  }

  &:disabled {
    color: $Accent-900;
    border: 1px solid $Accent-900;
  }
}

.text_button {
  @include common;
  color: $Accent-500;
  background-color: transparent;

  &:hover {
    color: $Accent-100;
  }

  &:active {
    color: $Accent-700;
  }

  &:focus {
    color: $Accent-500;
    border: 2px solid $Accent-700;
  }

  &:disabled {
    color: $Accent-900;
  }
}
