@use '../../styles/colors' as *;

.bodyTextArea {
  display: flex;
  flex-direction: column;
}

.textArea {
  width: fit-content;
  height: 84px;
  resize: none;
  padding: 6px 0 0 12px;
  color: $Light-100;
  background-color: $Dark-500;
  border-color: $Dark-100;

  &:active {
    border: 1px solid $Light-100;

    &::placeholder {
      color: $Light-100;
    }
  }

  &:focus {
    border: 2px solid $Accent-700;
    outline: none;

    &::placeholder {
      color: $Light-100;
    }
  }

  &:disabled {
    color: $Dark-100;
    border-color: $Dark-100;

    &::placeholder {
      color: $Dark-100;
    }
  }
}

.fullWidth {
  width: 100%;
}

.label {
  color: $Light-900;
}

.disabled .label {
  color: $Dark-100;
}

.error {
  border-color: $Danger-500;

  &:focus {
    border-color: $Danger-500;
  }
}

.errorText {
  color: $Danger-500;
}
