@use '../../styles/colors' as *;
@use '../../styles/typography' as *;

.box {
  box-sizing: border-box;
  width: fit-content;

  font-size: $font-size-m;
  line-height: $line-height-m;
  color: $Light-100;

  > div {
    padding: 12px 24px;
  }
}

.error {
  background-color: $Danger-900;
  border: 1px solid $Danger-500;
}

.success {
  background-color: $Success-900;
  border: 1px solid $Success-500;
}

.fullWidth {
  width: 100%;
}

.content {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.icon {
  display: flex;
  align-items: center;
}

.defaultIcon {
  color: $Light-100;
}
