@use '../../styles/colors' as *;
@use '../../styles/typography' as *;

.box {
  position: absolute;
  bottom: 40px;
  left: 40px;
  transform: translateX(-50px);

  box-sizing: border-box;
  width: fit-content;

  font-size: $font-size-m;
  line-height: $line-height-m;
  color: $light-100;

  opacity: 0;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &[data-isopen='true'] {
    transform: translateX(0);
    opacity: 1;
  }

  > div {
    padding: 12px 24px;
  }
}

.error {
  background-color: $danger-900;
  border: 1px solid $danger-500;
}

.success {
  background-color: $success-900;
  border: 1px solid $success-500;
}

.fullWidth {
  width: 100%;
}

.content {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.defaultIcon {
  color: $light-100;
}
