@use '../../styles/typography' as *;

.reCaptchaWrapper {
  width: fit-content;
  padding: 8px 7px;
  border: 1px solid;
}

.reCaptchaError {
  border-color: #f00;
}

.reCaptchaText {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: $font-weight-regular;
  color: #f00;
}