@use '../../styles/typography' as *;


.reCaptchaWrapper {
    border: 1px solid;
    width: fit-content;
    padding: 8px 7px;
}

.reCaptchaError {
    border-color: #f00;
}

.reCaptchaText {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: $font-weight-regular;
    color: #f00;
}