@use 'typography' as *;
@use 'colors' as *;

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Inter_18pt-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Inter_18pt-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Inter_18pt-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Inter_18pt-SemiBold.woff2') format('woff2');
}

@mixin large {
  font-size: $font-size-xxl;
  line-height: $line-height-l;
  font-weight: $font-weight-semi-bold;
}

@mixin h1 {
  font-size: $font-size-xl;
  line-height: $line-height-l;
  font-weight: $font-weight-bold;
}

@mixin h2 {
  font-size: $font-size-l;
  line-height: $line-height-m;
  font-weight: $font-weight-bold;
}

@mixin h3 {
  font-size: $font-size-m;
  line-height: $line-height-m;
  font-weight: $font-weight-semi-bold;
}

@mixin regular-text-16 {
  font-size: $font-size-m;
  line-height: $line-height-m;
  font-weight: $font-weight-regular;
}

@mixin bold-text-16 {
  font-size: $font-size-m;
  line-height: $line-height-m;
  font-weight: $font-weight-bold;
}

@mixin regular-text-14 {
  font-size: $font-size-s;
  line-height: $line-height-m;
  font-weight: $font-weight-regular;
}

@mixin medium-text-14 {
  font-size: $font-size-s;
  line-height: $line-height-m;
  font-weight: $font-weight-medium;
}

@mixin bold-text-14 {
  font-size: $font-size-s;
  line-height: $line-height-m;
  font-weight: $font-weight-bold;
}

@mixin small-text {
  font-size: $font-size-xs;
  line-height: $line-height-s;
  font-weight: $font-weight-regular;
}

@mixin semi-bold-small-text {
  font-size: $font-size-xs;
  line-height: $line-height-s;
  font-weight: $font-weight-semi-bold;
}

.regular-link,
.regular-link:visited {
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  line-height: $line-height-m;
  color: $Accent-500;
  text-decoration: underline;
}

.small-link,
.small-link:visited {
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: $line-height-s;
  color: $Accent-500;
  text-decoration: underline;
}
