@use 'typography' as *;
@use 'colors' as *;

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../public/assets/fonts/Inter_18pt-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../../public/assets/fonts/Inter_18pt-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../public/assets/fonts/Inter_18pt-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../../public/assets/fonts/Inter_18pt-SemiBold.woff2') format('woff2');
}

.large {
  font-size: $font-size-xxl;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-l;
}

.h1 {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  line-height: $line-height-l;
}

.h2 {
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  line-height: $line-height-m;
}

.h3 {
  font-size: $font-size-m;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-m;
}

.regular-text-16 {
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-m;
}

.bold-text-16 {
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  line-height: $line-height-m;
}

.regular-text-14 {
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  line-height: $line-height-m;
}

.medium-text-14 {
  font-size: $font-size-s;
  font-weight: $font-weight-medium;
  line-height: $line-height-m;
}

.bold-text-14 {
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  line-height: $line-height-m;
}

.small-text {
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: $line-height-s;
}

.semi-bold-small-text {
  font-size: $font-size-xs;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-s;
}

.regular-link,
.regular-link:visited {
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  line-height: $line-height-m;
  color: $Accent-500;
  text-decoration: underline;
}

.small-link,
.small-link:visited {
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: $line-height-s;
  color: $Accent-500;
  text-decoration: underline;
}
