@use './colors' as *;

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: $Dark-300;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $Light-900;
}

*::-webkit-scrollbar-track {
  background: transparent;
}