@use '../../src/styles/colors' as *;

:global {
  .rdp-root {
    --rdp-day-size: 36px;
    --rdp-cell-size: 36px;

    .rdp-range_middle {
      background-color: $accent-900;
    }
  }

  .rdp-months {
    padding: 16px 24px;

    .rdp-nav {
      inset-block-start: 15px;
      inset-inline-end: 24px;

      .rdp-button_next,
      .rdp-button_previous {
        padding: 8px;
        background-color: $dark-100;
        border-radius: 50%;
      }
    }
  }

  .rdp-month_caption {
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
  }

  .rdp-day_button {
    --rdp-day_button-width: 36px;
    --rdp-day_button-height: 36px;
  }
}

[data-radix-popper-content-wrapper] {
  z-index: 2 !important;
}
