@use '../../styles/colors' as *;

.cardBody {
  width: fit-content;
  min-height: fit-content;
  padding: 24px;

  color: $Light-100;

  background-color: $Dark-500;
  border: 1px solid $Dark-300;
  border-radius: 2px;

  &[data-cardsize='sm'] {
    padding: 12px;
  }

  &[data-cardsize='lg'] {
    padding: 30px;
  }
}

.fullWidth {
  width: 100%;
}
