@use '../../styles/colors' as *;

.Root {
  all: unset;
  border: 2px solid $Light-500;
  color: $Light-100;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &[data-state='checked'] {
    background-color: $Light-100;
    border-color: $Light-100;
  }

  &[data-disabled] {
    pointer-events: none;
    border-color: $Light-900;
  }

  &[aria-disabled=true][data-state='checked'] {
    pointer-events: none;
    background-color: $Dark-100;
    border-color: $Dark-100;
  }

  &[aria-disabled=true][data-state='unchecked'] {
    border-color: $Light-900;
  }

  &::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background-color: $Dark-300;
    z-index: -1;
    opacity: 0;
    transition: 0.2s linear;
  }

  &:hover::after {
    opacity: 1;
  }

  &:active::after {
    opacity: 1;
    background-color: $Dark-100;
  }

  &:focus::after {
    opacity: 1;
    background-color: $Dark-500;
  }

  &[aria-disabled=true]:hover::after {
    opacity: 0;
  }

  &[aria-disabled=true]:active::after {
    opacity: 0;
  }

  &[aria-disabled=true]:focus::after {
    opacity: 0;
  }
}

.Indicator {
  padding-top: 3px;
  scale: 140%;
  color: $Dark-500;

  &[aria-disabled=true] {
    color: $Light-900;
  }

  &[data-state='checked'] {
    color: $Dark-900;
  }

  &[aria-disabled=true][data-state='checked'] {
    color: $Light-700;
  }
}

.Indicator[aria-disabled='true'] {
  color: $Light-700;
  ointer-events: none;
  user-select: none;
}

.Label {
  color: $Light-100;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}

.Label[aria-disabled='true'] {
  color: $Light-900;
  ointer-events: none;
  user-select: none;
}
