@use '../../styles/colors' as *;

.Root {
  all: unset;

  user-select: none;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 14px;
  height: 14px;

  color: $Light-100;

  border: 2px solid $Light-500;
  border-radius: 4px;

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    width: 36px;
    height: 36px;

    opacity: 0;
    background-color: $Dark-300;
    border-radius: 50%;

    transition: 0.2s linear;
  }

  &[data-state='checked'] {
    background-color: $Light-100;
    border-color: $Light-100;
  }

  &[data-disabled] {
    pointer-events: none;
    border-color: $Light-900;
  }

  &[aria-disabled="true"][data-state='checked'] {
    pointer-events: none;
    background-color: $Dark-100;
    border-color: $Dark-100;
  }

  &[aria-disabled="true"][data-state='unchecked'] {
    border-color: $Light-900;
  }

  &:hover::after {
    opacity: 1;
  }

  &:active::after {
    opacity: 1;
    background-color: $Dark-100;
  }

  &:focus::after {
    opacity: 1;
    background-color: $Dark-500;
  }

  &[aria-disabled="true"]:hover::after {
    opacity: 0;
  }

  &[aria-disabled="true"]:active::after {
    opacity: 0;
  }

  &[aria-disabled="true"]:focus::after {
    opacity: 0;
  }
}

.Indicator {
  scale: 140%;
  padding-top: 3px;
  color: $Dark-500;

  &[aria-disabled="true"] {
    color: $Light-900;
  }

  &[data-state='checked'] {
    color: $Dark-900;
  }

  &[aria-disabled="true"][data-state='checked'] {
    color: $Light-700;
  }
}

.Indicator[aria-disabled='true'] {
  pointer-events: none;
  user-select: none;
  color: $Light-700;
}

.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  color: $Light-100;
}

.Label[aria-disabled='true'] {
  user-select: none;
  color: $Light-900;

  ointer-events: none;
}
