@use '../../styles/colors' as *;
@use '../../styles/fonts' as *;


.sidebar {
    padding-top: 72px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 220px;
    height: 100%;
    border-right: 1px solid $dark-300;
    color: $dark-700;
    padding-left: 60px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: inherit; 
    margin-right: 12px;
}

.label {
    color: inherit; 
}

.menuButton {
    color: inherit; 
    @include medium-text-14;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.sidebar_menu{
    margin-bottom: 180px;
}

.sidebar_menu .menu_item:nth-child(5) {
    margin-bottom: 60px;
}

.footer .menu_item:last-child {
    margin-bottom: 0; 
}

.sidebar_menu .menu_item,
.footer .menu_item {
    list-style-type: none; 
    color: $light-100; 
    transition: color 0.3s; 

    &:hover {
        color: $accent-300; 
    }

    &:active {
        color: $accent-500; 
    }

    &:focus-visible {
        color: $light-100;
    }

    &:disabled {
        color: $dark-100; 
        cursor: default;
        background: transparent; 
    }
}

.footer {
    border: none;
    padding: 0;
    margin-bottom: 36px; 
}