@use '../../styles/colors' as *;
@use '../../styles/fonts' as typo;

$base-width: 190px;
$padding-x: 15px;
$border-width: 1px;
$trigger-width: $base-width + (2 * $padding-x) + (2 * $border-width);

.Label {
  display: inline-block;
  margin-bottom: 5px;
  color: $Light-900;
}

.Icon {
  user-select: none;
  scale: 150%;
  color: $Light-100;
}

.Trigger {
  @include typo.regular-text-16;

  all: unset;

  cursor: pointer;
  user-select: none;

  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: $base-width;
  height: 35px;
  padding: 0 $padding-x;

  color: $Light-100;

  background-color: transparent;
  border: $border-width solid $Dark-100;
  border-radius: 2px;

  &:hover {
    color: $Light-900;
  }

  &[data-state="open"] {
    background-color: $Dark-500;
    border: 1px solid $Light-100;
    border-radius: 2px 2px 0 0;
  }

  &[data-state="open"] .Icon {
    transform: rotate(180deg);
  }
}



.Content {
  position: absolute;
  z-index: 1000;
  right: 0;
  left: 0;

  overflow-y: auto;

  //width: $trigger-width;
  width: var(--radix-select-trigger-width);
  max-height: 300px;
  padding: 0;

  background-color: $Dark-500;
  border: 1px solid $Light-100;
  border-top: none;
  border-radius: 0 0 6px 6px;
}

.Viewport {
  padding: 5px 0;
}

.Item {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;

  height: 35px;
  padding: 0 15px;

  color: $Light-100;

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &[data-highlighted] {
    color: $Light-900;
    background-color: $Dark-500;
    outline: none;
  }
}

.ScrollButton {
  cursor: default;

  display: none;

  //display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;

  color: $Light-100;

  background-color: transparent;
}